Options +Indexes
IndexOptions FancyIndexing
IndexOptions +NameWidth=*
IndexOptions +DescriptionWidth=*

AddDescription "SVN Repository snapshot"           http-proxy-HEAD.tar.gz
AddDescription "Tests fail, t/Utils.pm is missing" HTTP-Proxy-0.06.tar.gz
AddDescription "New filter API"                    HTTP-Proxy-0.10.tar.gz
AddDescription "CONNECT support"                   HTTP-Proxy-0.13.tar.gz
AddDescription "Bug in Makefile.PL :-("            HTTP-Proxy-0.15.tar.gz
AddDescription "HTTP::Proxy::Engine introduced"    HTTP-Proxy-0.16.tar.gz
